*{
  margin:0;
  padding: 0;
}
html{
  height: 100%;
  width: 100%;
}
body{
  background: #d88c41;
  background: #333;
  height: 100%;
  overflow: hidden;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  text-align: center;
  letter-spacing: -10px;
  font-weight: lighter;
}
h1 span:first-child {
  color: #4285f4;
}
h1 span:nth-child(2) {
  color: #db4437;
}
h1 span:nth-child(3) {
  color: #f4b400;
}
h1 span:nth-child(4) {
  color: #4285f4;
}
h1 span:nth-child(5) {
  color: #0f9d58;
}
h1 span:nth-child(6) {
  color: #db4437;
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotatee(-20deg);
  transform: rotate(-20deg);
  display: inline-block;
}

#search {
  z-index: 1000;
  outline: 0;
  font-size: 32px;
  width: 600px;
  margin-left: -300px;
  margin-top: 20px;
  left: 50%;
  top: 10%;
  padding: 20px;
  position: absolute;
  -webkit-appearance: none;
  color: white;
  border: 2px solid white;
  background: none;
  border-radius: 5px;
  transition: 0.1s;
}

#results{
  padding: 0 20px;
  box-sizing: border-box;
  width: 600px;
  background: rgba(255,255,255,0.7);
  font-size: 32px;
  position: relative;
  border-radius: 5px;
  margin: 0 auto; 
  margin-bottom: 20px; 
  top: 230px;
  overflow: auto;
}

#results ul > li{
  display: block;
  width: 100%;
  font-size: 20px;
  padding: 10px 0;
}

.item, .item2{
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  background: #2a2a2a;
  padding: 0;
  height: 30px;
  box-sizing: border-box;
  width: 600px;
  color: white;
  cursor: pointer;
}

.image {
  position: absolute;
  width: 200px;
  height: 200px;
  padding: 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
}

.item .bar, .item2 .bar {
  display: block;
  height: 100%;
  background-color: #0f9d58;
}

.item span, .item2 span {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 30px;
  text-indent: 10px;
}

.evil {
  width: 100px;
  height: 100px;
  background-image: url('http://img3.wikia.nocookie.net/__cb20140805055410/super-villain/images/9/91/3998596-dr-evil.jpg');
  background-size: contain;
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}

/*
.wrapper { 
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
*/